* {
  font-family: Be Vietnam;
}

header {
  background-color: #fcfcfc;
}
.name {
  color: #343d68;
  font-weight: bold;
}
.custom-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ff0000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-item .nav-link:hover {
    color: #E84949 !important;
}
section h4 , h2{
  color: #343D68;
}
.skills-icon{
  height: 50px;
  width: 50px;
}
.border-gradient {
  padding: 1rem;
  position: relative;
  border-image: linear-gradient(to right, #0D54BE, #20ECD3) 1; 
  padding: 3px;
  border-width: 2px;
  border-style: solid;
}

.border-gradient img {
  background: white;
  display: block;
  padding: 5px;
}
.custom-backround{
  background-color: #343D68;
}
.form-container {
  max-width: 600px;
  margin: auto;
}

.custom-input,
.custom-textarea {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 15px;
}

.custom-textarea {
  min-height: 150px;
  resize: none;
}
